body {
    font-family: Arial, sans-serif;
    background-color: #d9caa7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background-color: #b6e29a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

p {
    margin: 10px 0;
    color: #666;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



#fedback {
    font-weight: bold;
    margin-top: 10px;
}

#error {
    color: red;
    margin-top: 10px;
}

#restart-btn {
    margin-top: 20px;
    background-color: #007bff;
}

#restart-btn:hover {
    background-color: #0056b3;
}
